$color-btn-primery: #FF9900;
$color-bg: #FFEEE1;
$color-link: #1943EF;
$color-btn-hover: #FF7549;
$color-breadcrumbs: #ffffff;
$color-breadcrumbs-col: #F5F5F5;
$color-title: #2F281E;
$color-text: #544837;
$font-size-h1: 4.4rem;
$font-size-h2: 2.2rem;
$font-size-title: 2.4rem;
$font-size-text: 1.6rem;
$width-wrapper: 1197px;
$width-desktop: 1440px;
$width-tablet: 768px;
$width-mobile: 320px;